* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(247, 247, 249);
}

li {
  list-style: none;
}

.main-background {
  width: 375px;
  height: 3700px;
  background: rgba(246.55, 247.24, 248.63, 1);
}

.container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 70px 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  background: white;
}

.nav-menu {
  display: none;
}

.nav-branding {
  font-size: 18px;
  color: #6070ff;
}

.nav-link {
  transition: all 0.5s ease;
}

.hambuger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.contain1 {
  margin-left: 32em;
}

.headline {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: white;
}

.home-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-icon {
  height: 17px;
}

header > .logo {
  font-size: 18px;
}

.primary-text {
  width: 260px;
  height: 178px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 52px;
  color: #172b4d;
}

.phar {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.letsconnect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.socialmedia-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 12px;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.twit {
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 10px;
}

.linkedin {
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 10px;
}

.homepage {
  background-image: url(./images/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  padding: 100px 20px 120px 20px;
  background-color: white;
  margin-top: -4px;
}

.works1,
.works2,
.works3,
.works4,
.works-temp1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 1;
  padding: 18px;
  margin-top: 15px;
}

.works2 {
  grid-row-start: 2;
}

.works3 {
  grid-row-start: 3;
}

.works4 {
  grid-row-start: 4;
}

.works-info1,
.works-info2,
.works-info3,
.works-info4 {
  flex: 1;
  margin: 5px;
}

.works-info1,
.works-info3 {
  margin-left: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 0 50px 0 0;
  padding: 100px 10px 200px 10px;
}

.pic-temp1 {
  flex: 1;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.tonic {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 10px;
  margin-top: 0;
}

.work-info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.back-end-dev {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 10px;
}

.proj-info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
  margin-top: 0;
}

.prog-lang {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.lang-styles {
  font-family: "Poppins", sans-serif;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 5px 15px;
  margin: 0 10px;
  
}

.front-styles {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  margin: 50px 0 50px 20px;
  padding: 12px;
  background-color: #fff;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.btn:focus {
  background-color: #2230d2;
  color: white;
}

.about-my-self {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.tech-professional-skills {
  width: 100%;
}

.lang {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.front-lang {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.frame-works {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.frames {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.frames-v1 {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

.pic-elp {
  margin-right: 12px;
}

.separate-bar {
  width: 100%;
}

.skills-toggle {
  margin: 8px 0 12px;
}

.contact-form {
  background-image: url(./images/background2.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: right;
  background-position-y: 70px;
  border-radius: 90px 0 0 0;
  padding-top: 200px;
}

.background-style {
  background-color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contact-title {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.p-contact {
  height: 170px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 20px 0 38px 0;
}

.inp-form {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.text-area {
  width: 100%;
  height: 160px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 10px 15px;
}

.contact-bar {
  text-align: center;
}

.btncontact {
  width: 140px;
  height: 48px;
  color: #6070ff;
  align-self: flex-start;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
}

.btncontact:hover {
  background-color: #6070ff;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  transition: 100ms;
  cursor: pointer;
}

.end-line {
  margin-top: 50px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .homepage {
    padding: 50px 30px 100px 30px;
    height: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 0 0 0 50px;
  }

  header {
    background: white;
    padding: 0 140px;
  }

  .hambuger {
    display: none;
  }

  .primary-text {
    width: 100%;
    padding-top: 150px;
    margin-bottom: 100px;
  }

  .phar {
    margin: 50px 0 20px 0;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu li {
    padding-left: 2rem;
  }

  .headtitle {
    padding: 0 140px;
  }

  .headtitle-name {
    background-image: url("./images/background_1024.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .work-info {
    align-self: flex-start;
  }

  .prog-lang {
    align-self: flex-start;
  }

  .works1,
  .works2,
  .works3,
  .works4 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .works2,
  .works4 {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 0 80px 0 0;
  }

  .tech-professional-skills {
    width: 90%;
  }

  .front-lang {
    display: flex;
    flex-direction: row;
  }

  .front-styles {
    width: 125px;
    height: 125px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
  }

  .pic-elp {
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .name {
    align-self: flex-start;
  }

  footer {
    padding: 20px auto;
  }

  .background-style {
    background: url("./images/desktop-contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #6070ff;
    border-radius: 90px 0 0 0;
  }

  .contact-form {
    width: 500px;
    margin-bottom: 20px;
    background: none;
  }

  .contact-info {
    width: 500px;
    justify-content: center;
  }

  .btncontact {
    align-self: center;
  }

  .about-me .aboutme2 {
    align-items: center;
    margin-left: 60px;
  }

  .conatctp{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .socialmedia-list{
    margin-top: 20px;
  }

  .end-line {
    display: none;
  }

  .btn{
    margin-left: 0;
  }

  .p-contact{
height: 70px;
  }
}
