@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

.main-background {
  position: relative;
  top: 10px;
  width: 375px;
  height: 3700px;
  background: rgba(246.55, 247.24, 248.63, 1);
}

.container {
  display: block;
  position: relative;
  width: 375px;
  height: 5410px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.contain1 {
  margin-left: 32em;
}

.headlin {
  top: 92px;
  left: 0px;
  width: 375px;
  height: 604px;
}

.logo {
  display: flex;
  color: #5969fa;
  line-height: 20px;
  text-align: center;
  margin-left: 24px;
}

header > .logo {
  font-size: 18px;
}

.primary-text {
  top: 114px;
  left: 24px;
  width: 372px;
  height: 178px;
  overflow: hidden;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 52px;
  color: #172b4d;
}

.phar {
  top: 268px;
  left: 24px;
  width: 348px;
  height: 157px;
  overflow: hidden;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #344563;
}

.social-media {
  top: 434px;
  left: 24px;
  width: 117px;
  height: 24px;
}

.supportingtext {
  width: 117px;
  height: 24px;
}

.letsconnect {
  top: 0px;
  left: 0px;
  width: 138px;
  height: 35px;
  overflow: hidden;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #7f8cff;
}

.socialmedia-list {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 12px;
  margin-left: 0px;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.twit {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 10px;
}

.linkedin {
  position: absolute;
  left: 63px;
  top: 470px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 10px;
}

.homepage {
  background-image: url(./images/background.png);
  background-size: 40%;
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-color: white;
  margin-top: -2px;
  width: auto;
  padding-bottom: 100px;
}

.works-temp1 {
  margin: 0 auto 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about-me {
  margin: 0 auto 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 1000px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.pic-temp1 {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.tonic {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 10px;
  margin-top: 0;
}

.work-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0;
}

.canopy {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.back-end-dev {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 10px;
}

.proj-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
  margin-top: 0;
}

.prog-lang {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0;
  margin-top: 0;
}

.lang-styles {
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 5px 10px;
  margin-right: 10px;
}

.front-styles {
  margin-left: 0;
  margin-top: 5px;
  margin-right: 30px;
  width: 250px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.btn {
  border: 1px solid #396df2;
  background: #fff;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 5px 10px;
}

.about-my-self {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.contact-me {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.lang {
  margin-top: 66em;
  margin-left: 20px;
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.front-lang {
  list-style-type: none;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 70px;
}

.frame-works {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frames {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0;
}

.pic-frame {
  display: flex;
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 2px solid #acb7c3;
  margin-left: 18em;
  margin-top: 0cm;
}
